[submodule "loops/refreeze"]
	path = loops/refreeze
	url = https://github.com/vahtras/refreeze.git
[submodule "foo/refreeze"]
	path = foo/refreeze
	url = https://github.com/vahtras/refreeze.git
[submodule "introduction"]
	path = introduction
	url = git@github.com:bb1000/introduction
[submodule "files"]
	path = files
	url = https://github.com/bb1000/files.git
[submodule "libraries"]
	path = libraries
	url = https://github.com/bb1000/libraries
